#wrapper {
    color: #0094ff;
    font-size: 18px;
}

p {
    font-family: Consolas;
}

p::first-letter {
    font-size: 2.5em;
    font-family: 'Edwardian Script ITC';
}

p::first-line {
    font-weight: bold;
}